*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-wrap: wrap;
    /* background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-image: url(./background-hinh-nen-wallpaper-thien-nhien-phong-canh-dep.jpg); */
}
.block1{
    background: blue;
}
.block2{
    background: rgb(84, 233, 71);
}
@media only screen and (max-width:600px){
    .col-xs-100{
        width: 100%;
    }
    .block1{
        background: rgb(0, 225, 255);
    }
    .block2{
        background: rgb(223, 243, 45);
    }
}
@media only screen and (min-width:600px) and (max-width:900px){
    .col-md-50{
        width: 50%;
    }
}
@media only screen and (min-width:900px) and (max-width:1100px){
    .col-xl-100{
        width: 100%;
    }
    .block1{
        background: rgb(100, 7, 153);
    }
    .block2{
        background: rgb(24, 121, 11);
    }
}
